body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top,black, rgba(0, 0, 0, 0.5), black),url('../images/body-back.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.macpro{
    width: 58vw;
    height: auto;
    position: relative;
}
.macpro img{
    width: 100%;
    height: auto;
}
#display-area{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(27, 27, 27, 0.87);
    width: 98%;
    max-height: 62vh;
    height: 62%;
}
#image-area{
    height: 100%;
    width: 100%;
    z-index: 5;
    background-image: url('../images/photography/1.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image-area img{
    max-width: 100%;
    width: fit-content;
    height: fit-content;
    max-height: 100%;
}
#caption{
    text-align: center;
    margin-top: 0;
    color: white;
    font-size: 1.2rem;
}
#caption span{
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 7px;
    background-color: black;
}
button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: 900;
    background:none;
    border: none;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    color: white;
}
button:hover{
    background-color: rgba(128, 128, 128, 0.233);
}
#prev{
    left: 0;
    border-radius: 0px 8px 8px 0px;
}
#next{
    right: 0;
    border-radius: 8px 0px 0px 8px;
}


.container{
    overflow-x: scroll;
    display: flex;
    width: 100vw;
    justify-content: start;
    align-items: center;
    position: absolute;    
    bottom: 10px;
    background-color: rgba(90, 87, 87, 0.7);
}
.container-item{
    margin: 7px;
    height: 20vh;
    width: auto;
}
.container-item img{
    filter: saturate(0);
    height: 100%;
    width: auto;
    transition: all 0.3s ease-in-out;
}
.container-item img:hover{
    filter: saturate(1);
}



/* page loading animation */
@keyframes loader {
    0% {
        color: red;
        transform: rotate(0deg);
    }

    50% {
        color: blue;
        transform: rotate(360deg);
    }

    100% {
        color: red;
        transform: rotate(360deg);
    }
}

.loader-shape i{
    font-size: 40px;
    animation: loader infinite;
    animation-duration: 1s;
}
#loader-wrapper{
    margin: 0;
    padding: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: fixed;
    z-index: 5;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.move-up{
    transform: translateY(-150%) !important;
}

